<nav class="navbar navbar-expand-sm sticky-top navbar-dark bg-dark">
  <a class="navbar-brand" href="#">To-do List</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link" href="logout">Log out</a>
    </div>
  </div>
</nav>

<h2>Current to-do's:</h2>
<div class="tasklistDisplay">
    <ul id="todoList">
       {{#each todos}}
        <li id="t{{id}}">
          <span class="name">{{task}}</span>
          <a href="edit/{{id}}">(Edit)</a>
          <div class="description">
            <span class="when"> <b>When:</b> {{date}} @ {{time}}</span>
            {{#if completed}}
              <span class="completed"><b>Status:</b> Completed!</span>
              <button type="button" class="btn btn-secondary toggleBtn">Resume Task</button>
            {{else}}
              <span class="completed"><b>Status:</b> In-progress</span>
              <button type="button" class="btn btn-success toggleBtn complete">Mark as Complete</button>
            {{/if}}
            <button type="button" class="btn btn-dark deleteBtn">Delete</button>            
          </div>
        </li>
       {{/each}}
    </ul>
</div>

<div class="modal fade" id="createModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Create new task:</h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="createDisplay">
             <form action="/create" method="post" class="needs-validation" novalidate>
                <div class="form-group">
                  <label for="taskname">Task name:</label>
                  <input type="text" class="form-control" name="task" required>
                  <div class="invalid-feedback">Please enter a task name.</div>
                </div>
                <div class="row">
                  <div class="col form-group">
                    <label for="date">Date:</label>
                    <input type="date" class="form-control" name="date" required>
                    <div class="invalid-feedback">Please enter a date.</div>
                  </div>
                  <div class="col form-group">
                    <label for="time">Time:</label>
                    <input type="time" class="form-control" name="time">
                  </div>                  
                </div>
                <div class="form-group">
                  <label for="location">Location:</label>
                  <input type="text" class="form-control" name="location">
                </div>
                <div class="form-group">
                  <label for="description">Description:</label>
                  <textarea class="form-control" name="description"></textarea>
                </div>
              <button type="submit" class="btn btn-primary" id="modalBtn">Create!</button>
            </form> 
        </div>        
      </div>
    </div>
  </div>
</div>

<div class="createDiv">
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#createModal">Create New Task</button>  
</div>
